.example-spacer {
  flex: 1 1 auto;
}

.example-form-field {
  width: 100%;
  text-align: center;
}

.error {
  color: red;
}

.btn {
  background-color: green;
}

.tb {
  justify-content: center;
}

.card {
  /* border-bottom: solid 1px black; */
  border-bottom: solid 2px black;
  border-left: solid 5px purple;
  width: 50%;
  margin: 0 auto;
  opacity: 0.8;
  text-align: center;
}

.main_card {
  background-image: url(../bg.jpg);
}
